body{
  background:#303030;  
}

.upper_bar {
  display:flex;
  background-color:#303030;
  margin:0px;
  border: 0px;
  padding:30px;
  justify-content:space-around;/**/
  
}

.upper_bar_L{
  display:flex;
  justify-content:center;
  flex-direction: row;
  color:white;
}

.nav_bar {
  display:flex;
  gap:20px;
  justify-content:row;
  font-size:20px;
  font-family:Major Mono Display;
}

.nav_bar a{
  color:white;
  text-decoration: none;
}

.upper_bar_R{
  display:flex;
  gap:20px;
  font-size:20px;
  font-family: 'Chakra Petch', sans-serif;
}

.upper_bar_R a{
  color:lightblue;
  text-decoration: none;
}