h2{
  text-align:center;
  color:white;
  font-family: 'Audiowide', cursive;
}


.body{
  display:flex;
  background:#303030;
  flex-direction: column;
  border:0;
  margin:0;
}

.learn_more{
  border-radius:50px;
  padding: 10px 25px 10px 25px;
  font-size:75%;
  border-color:#303030;
  margin-right:25px;
  opacity: 0.6;
  background-color:red;
  color:white;
  font-family: 'Chakra Petch', sans-serif;
  
}

h1 {
  color:white;
}

/*__________________________________upper bar__________________________________*/

.upper_bar{
  display:flex;
  background-color:#303030;
  margin:0px;
  border: 0px;
  padding:30px;
  justify-content:space-around;/**/
}

.upper_bar_L{
  display:flex;
  justify-content:center;
  flex-direction: row;
  color:white;
}

.nav_bar a{
  color:white;
  text-decoration: none;
  gap:20px;
  justify-content:row;
  font-size:20px;
  font-family:Major Mono Display;
}

.upper_bar_R{
  display:flex;
  gap:20px;
  font-size:20px;
  
}

.upper_bar_R a{
  color:lightblue;
  text-decoration: none;
}

/*___________________________________firs picture___________________________________*/

.site_picture{
  position: relative;
  color: white;
}

.bottom_left_title {
  position: absolute;
  bottom: 200px;
  left: 40px;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  font-size:300%;
  font-family:Major Mono Display;
}

.bottom_left_buttons {
  position: absolute;
  bottom: 125px;
  left: 75px;
  color: white;
  font-size:200%;
  border-radius: 50px;
}

.download{
  border-radius:50px;
  padding: 10px 25px 10px 25px;
  font-size:75%;
  border-color:#303030;
  margin-right:25px;
  opacity: 0.6;
  background-color:lightblue;
  color:black;
  font-family: 'Chakra Petch', sans-serif;
}

.trailer{
  border-radius:50px;
  padding: 10px 25px 10px 25px;
  font-size:75%;
  border-color:#303030;
  background-color:#303030;
  opacity: 0.6;
  color:white;
  font-family: 'Chakra Petch', sans-serif;
}


/*_______________________________________divider_______________________________*/

.divide{
  border-color:white;
  border:1px solid;
  margin:0px 0px 80px 0px;
}

/*_______________________________________pictures______________________________*/

.game_pictures{
  position: relative;
  text-align:right;
}

.pictures{

}

.game_pictures_div{
  position: absolute;
  top: 125px;
  right: 75px;
  color: white;
  font-size:200%;
  border-radius: 50px;
}

.game_pictures_title{
  font-family:Major Mono Display;
}

.game_picture_text{
  font-family: 'Chakra Petch', sans-serif;
}

/*______________________________________activities_____________________________*/

.activities{
  position: relative;
}

.activities_div{
  position: absolute;
  bottom: 10cm;
  left: 40px;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  font-size:200%;
}

.activities_title{
  font-family:Major Mono Display;
}

.activities{
  font-family: 'Chakra Petch', sans-serif;
}

/*______________________________________News____________________________________*/

.news{
  margin-bottom:1000px;
}

.news_divide{
  border-color:white;
  border:1px solid;
  margin:0px 0px 80px 0px;
}

.news_title{
  margin-top:90px;
  text-align:center;
  color:white;
  font-family:Major Mono Display;
}

.news_new_divide{
  border-color:white;
  border:1px solid;
  margin:0px 100px 80px 100px;
}

.news_table{
  display: flex;
  flex-directon:row;
  flex-wrap:center;
  justify-content:space-evenly;
  aligen-items: center;
  border-color: black;
  border-width: 1px;
  text-align: center;
}

.news_box{
  border: 2px solid;
  padding:1cm 1cm 1cm 1cm;
}
