h2{
  text-align:center;
  color:white;
  font-family: 'Audiowide', cursive;
}

.Site-Name{
  text-shadow: 4px 0px 0px #00FFF0, -4px 0px 3px #FF0000;
  background:#303030;
  color:white;
  border:none;
  font-size:170%;
  font-family: 'Audiowide', cursive;
}

.body{
  display:flex;
  background:#303030;
  flex-direction: column;
  border:0;
  margin:0;
}
.upper_bar{
  display:flex;
  background-color:#303030;
  margin:0px;
  border: 0px;
  padding:30px;
  justify-content:space-around;/**/
}

.upper_bar_L{
  display:flex;
  justify-content:center;
}

.nav_bar a{
  color:white;
  text-decoration: none;
  gap:20px;
  justify-content:row;
  font-size:20px;
}

.upper_bar_R{
  display:flex;
  gap:20px;
  
}

.upper_bar_R a{
  color:lightblue;
  text-decoration: none;
}

.divide{
  background:white;
  border-color:white;
}

.game_picture{
  
}


